<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>

  {{-- style('css/style') --}}
  {{ style('css/auth') }}

</head>
<body>
  <section>
    <div class="content">
      @!section('content')
    </div>
  </section>
</body>
</html>